@use './Variables.module.scss' as vars;

html {
    font-size: 62.5%;
    /* 62.5% of 16px = 10px */
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: vars.$primaryWhite;
    overflow: auto;
}

// Font
.primaryFont {
    color: vars.$primaryBlack;
}

.invertPrimaryFont {
    color: vars.$primaryWhite;
}

.bold {
    font-weight: vars.$bold;
}

.whiteBackground {
    background-color: vars.$primaryWhite;
}

.noWrap {
    white-space: nowrap;
}

.semiBold {
    font-weight: vars.$semiBold;
}

.upperCase {
    text-transform: uppercase;
}

.lowerCase {
    text-transform: lowercase;
}

.fullWidth {
    width: 100%;
}

.fullHeight {
    height: 100%;
}

.paragraphSpacing {
    margin-bottom: vars.$indentSpacing;
}

.pageTitle {
    font-size: 2.5rem;
    color: vars.$secondaryBlue;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: vars.$tabSpacing;
}

// Position
.verticalAlignTop {
    vertical-align: top;
}

// Flex generics
.flexRow {
    display: flex;
    flex-direction: row;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.flexWrap {
    display: flex;
    flex-wrap: wrap;
}

.flexNoWrap {
    display: flex;
    flex-wrap: nowrap;
}

.flexStart {
    align-content: flex-start;
}

.flexAlignCenter {
    display: flex;
    align-items: center;
}

.flexAlignBaseline {
    display: flex;
    align-items: baseline;
}

.flexJustifyCenter {
    display: flex;
    justify-content: center;
}

.flexJustifySpaceAround {
    display: flex;
    justify-content: space-around;
}

.flexJustifySpaceBetween {
    display: flex;
    justify-content: space-between;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexGrow {
    flex-grow: 1;
}

// Links
.unstyledLink {
    text-decoration: none;
    color: vars.$primaryBlack;
    cursor: pointer;
}

.styledLink {
    text-decoration: underline;
    color: vars.$primaryBlack;
    cursor: pointer;
}

.cursorPointer {
    cursor: pointer;
}

.hide {
    display: none;
}


// Misc
.cursorPointer {
    cursor: pointer;
}
