// Colors
$primaryBlack: #212121;
$primaryWhite: #FFFFFF;
$primaryGray: #eceff1;
$primaryBlue: #4F7CAC;
$secondaryBlue: #335167;
$tertiaryBlue: #2A3944;
$quaternaryBlue: #A7BED6;
$dividerGray: #e0e0e0;

$zergPurple: #882991;
$zergPurpleBackground: #F1E5F2;
$terranBlue: #295a91;
$terranBlueBackground: #E5EBF2;
$protossYellow: #dec93e;
$protossYellowBackground: #FBF9E7;
$randomGray: #646464;
$randomGrayBackground: #ECECEC;


// Spacing
$marginSpacing: 8rem;
$gutterSpacing: 4rem;
$tabSpacing: 2rem;
$indentSpacing: 1rem;
$wedgeSpacing: 0.5rem;
$sliverSpacing: 0.25rem;
$atomicSpacing: 0.125rem;
$voidSpacing: 0rem;

// Font Size

$fontSizeH1: 3rem;

// Breakpoints
$zero: 0px;
$xxxxs: 200px;
$xxxs: 200px;
$xxs: 300px;
$xs: 450px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;
$xxl: 1800px;

// Weights
$bold: 700;
$semiBold: 500;

// heights / widths
$appBarHeight: $marginSpacing;
$appFooterHeight: $gutterSpacing;
$appMargins: $gutterSpacing;

:export {
    // colors
    primaryBlack: $primaryBlack;
    primaryWhite: $primaryWhite;
    primaryGray: $primaryGray;
    primaryBlue: $primaryBlue;
    secondaryBlue: $secondaryBlue;
    tertiaryBlue: $tertiaryBlue;
    quaternaryBlue: $quaternaryBlue;
    dividerGray: $dividerGray;


    zergPurple: $zergPurple;
    zergPurpleBackground: $zergPurpleBackground;
    terranBlue: $terranBlue;
    terranBlueBackground: $terranBlueBackground;
    protossYellow: $protossYellow;
    protossYellowBackground: $protossYellowBackground;
    randomGray: $randomGray;
    randomGrayBackground: $randomGrayBackground;

    // spacing
    marginSpacing: $marginSpacing;
    gutterSpacing: $gutterSpacing;
    tabSpacing: $tabSpacing;
    indentSpacing: $indentSpacing;
    wedgeSpacing: $wedgeSpacing;
    sliverSpacing: $sliverSpacing;
    atomicSpacing: $atomicSpacing;
    voidSpacing: $voidSpacing;

    // font size
    fontSizeH1: $fontSizeH1;

    // bp
    zero: $zero;
    xxs: $xxs;
    xs: $xs;
    sm: $sm;
    md: $md;
    lg: $lg;
    xl: $xl;
    xxl: $xxl;

    // weights
    bold: $bold;
    semiBold: $semiBold;

    // height
    appBarHeight: $appBarHeight;
    appFooterHeight: $appFooterHeight;
    appMargins: $appMargins;
}
