@use '../.././styles/App.module.scss' as app;
@use '../.././styles/Variables.module.scss' as vars;

.footerContainer {
    width: "100%";
    border-top: vars.$atomicSpacing solid vars.$primaryGray;
}

.footer {
    background-color: vars.$primaryWhite;
}
